entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales", "hdf5", "imagemagick_light", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libjpeg_turbo", "libpng", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "which", "zlib"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "streamlit run main.py --server.address=0.0.0.0 --server.port=8080 --server.headless=true --server.enableCORS=false --server.enableWebsocketCompression=false --server.enableStaticServing=false"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Run Chatbot"

[[workflows.workflow]]
name = "Run Chatbot"
author = 46282751
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run main.py --server.address=0.0.0.0 --server.port=5000 --server.headless=true --server.enableCORS=false --server.enableWebsocketCompression=false"

[[workflows.workflow]]
name = "Run Chatbot Deployment"
author = 46282751
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run main.py --server.address=0.0.0.0 --server.port=8080 --server.headless=true --server.enableCORS=false --server.enableWebsocketCompression=false --server.enableStaticServing=false"

[[ports]]
localPort = 80
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 8080
